## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 5
---------------------------------------

GOALS:

1. Answer all the questions from the lecture.
2. Practice wrangling data
3. (challenge) do a mini data analysis of your own!

----------------------------------------------------------

This homework has **7 questions** from the lecture and **2 Problems**.

NOTE:
* Questions tend to be short answer or things were you change very minor parts of some given code.
* Problems tend to be more involved, like trying out our methods on a new column.
* Challenge problems are optional! They are intended to challenge you to reach beyond the basics of the class. I hope you will try the challenge problems!

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

### Load the raw data:

* Data from two hotels: one resort and one city hotel
* Observations: Each row represents a hotel booking
* Goal for original data collection: Development of prediction models to classify a hotel booking's likelihood to be canceled [Antonia et al., 2019](https://www.sciencedirect.com/science/article/pii/S2352340918315191#bib5)


[Data Information: Tidy Tuesday](https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-02-11/readme.md)

In [4]:
file_location = 'https://joannabieri.com/introdatascience/data/hotels.csv'
DF_raw_hotels = pd.read_csv(file_location)

In [5]:
show(DF_raw_hotels)

**Q1** Can you figure out how you would focus on multiple columns? We have done this before so see if you can remember the command. It's okay if you need to copy and paste!

In [27]:
# Your code here
my_columns = ['stays_in_weekend_nights','stays_in_week_nights']
DF_raw_hotels[my_columns]

        stays_in_weekend_nights  stays_in_week_nights
0                             0                     0
1                             0                     0
2                             0                     1
3                             0                     1
4                             0                     2
...                         ...                   ...
119385                        2                     5
119386                        2                     5
119387                        2                     5
119388                        2                     5
119389                        2                     7

[119390 rows x 2 columns]

#### Sorting Example - Descending order

In [ ]:
my_columns = ['hotel','lead_time']
DF_lead_time_sorted = DF_raw_hotels[my_columns].sort_values('lead_time', ascending=False)
show(DF_lead_time_sorted)

**Q2** Choose another set of variables (columns) that you can explore. Try sorting them ascending and descending.

In [37]:
DF_raw_hotels.keys()

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [41]:
# Your code here:
my_columns = ['stays_in_weekend_nights','stays_in_week_nights']
DF_raw_hotels[my_columns].sort_values('stays_in_weekend_nights',ascending=False)

        stays_in_weekend_nights  stays_in_week_nights
14038                        19                    50
14037                        18                    42
9839                         16                    40
101794                       16                    41
33924                        16                    40
...                         ...                   ...
59699                         0                     3
59700                         0                     3
59701                         0                     3
59702                         0                     3
59695                         0                     3

[119390 rows x 2 columns]

**Q3** What would happen if you tried to sort categorical data? Try sorting by the column "arrival_date_month". Do you get an error? Does it sort it? If so how is it sorted?

In [47]:
# Your code here:
DF_raw_hotels['hotel']== 'Resort Hotel'

0          True
1          True
2          True
3          True
4          True
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: hotel, Length: 119390, dtype: bool

### Boolean Mask Example - Subsellect Data

Here is an example of focusing only on 'Resort Hotel' data in the 'hotel' column

In [ ]:
mask = DF_lead_time_sorted['hotel']== 'Resort Hotel'
show(DF_lead_time_sorted[mask])

**Problem 1** Can you create a data frame that:

1. Selects the columns "hotel", "year", and "month"
2. Sorts by year ascending.
3. Masks to only show the month of "August"

In [53]:
# Your code here
my_columns = [ 'hotel' , 'arrival_date_year' , 'arrival_date_month']
DF_raw_hotels[my_columns].sort_values('arrival_date_year')

               hotel  arrival_date_year arrival_date_month
0       Resort Hotel               2015               July
19240   Resort Hotel               2015           December
19239   Resort Hotel               2015           December
41873     City Hotel               2015             August
41874     City Hotel               2015             August
...              ...                ...                ...
64927     City Hotel               2017              March
64926     City Hotel               2017              March
64925     City Hotel               2017              March
64923     City Hotel               2017              March
119389    City Hotel               2017             August

[119390 rows x 3 columns]

#### Basic Operators

| Operator | Definition |
|----------|------------|
|<|less than|
|>|greater than|
|<=| less than or equal to|
|>=| greater than or equal to|
|==| exactly equal to|
|!=| not equal to|

#### Advanced Operators

| Operator | Definition |
|----------|------------|
| and | check if two things are both true|
| or | check if one of two things is true|
| in | checks if something is in another thing|
| ! | not checks if something is false|

**Q4** Try to say whether each cell will print true or false before running the code:

In [55]:
3<10

True

In [57]:
10<3

False

In [59]:
3<10 and 2<10

True

In [61]:
'cat' == 'cat'

True

In [63]:
'CAT'=='cat'

False

In [ ]:
'CAT'!='cat'

In [65]:
2<=2

True

In [67]:
2<=2 or 2<1

True

In [69]:
my_numbers = [3,6,18,42]
42 in my_numbers

True

**Q5** Create 5 more logical operator tests and show the results.

In [71]:
# Your code here
23<=25

True

In [73]:
# Your code here
25>=32

False

In [77]:
# Your code here
'Ant'=='ant'

False

In [79]:
# Your code here
3<=5 != 3>4

False

In [81]:
# Your code here
2==3

False

### Follow Along - Example Analysis

Now that we know some logical operators we can create fancier boolean masks and get more interesting subsets of our data. Here is a mini analysis of our data using what we know so far. See if you can figure out what each command is doing. 

**Q6** Add your comments explaining the code:

In [ ]:
# Add your comments: 
DF_raw_hotels['country'].value_counts()

Wow there is a lot of data for PRT (Portugal)!

In [ ]:
# Here I am defining the variables (columns) I care about
my_country = 'PRT'
my_columns = ['hotel',
              'arrival_date_year',
              'is_canceled', 
              'arrival_date_month',
              'country']
sort_column = 'arrival_date_year'

# Add your comments:
DF_mini_analysis = DF_raw_hotels[my_columns].sort_values(sort_column).copy()
show(DF_mini_analysis)

In [ ]:
# What does this first mask do?
# Your comments:
mask_country = DF_mini_analysis['country']==my_country
DF_mini_analysis_masked = DF_mini_analysis[mask_country]
show(DF_mini_analysis_masked)

In [ ]:
# What does this second mask do?
# Your comments:
mask_years = DF_mini_analysis_masked['arrival_date_year']>2015
DF_mini_analysis_masked = DF_mini_analysis_masked[mask_years] 
# Notice that I wrote over my data in the command above

show(DF_mini_analysis_masked)

In [ ]:
fig = px.histogram(DF_mini_analysis_masked,
                  x='arrival_date_month',
                  color='hotel',
                  facet_col='is_canceled',
                  facet_col_wrap=1)

fig.update_layout(title='Number of Hotels Booked Each Month in Portugal',
                  title_x=0.5,
                  xaxis_title="Month",
                  autosize=False,
                  width=800,
                  height=500)
fig.show()

**Q7** What exactly is this histogram showing and what is excluded based on the analysis we did above? Is there anything interesting about the graph? Any questions raised?

through analysis we see that it excludes lead time .

**Problem 2** Now it's your turn to do a mini analysis. Please do the following:

1. Choose a subset of columns that you are interested in and look just at those column.
2. Make at least one mask that will remove some of the data (eg. look only at one categorical value OR one or more numerical values.
3. Sort the data using one of the columns.
4. Make a histogram or bar graph of your final data set.
5. Describe in words what you see in your graph, or if there is anything interesting there.

In [83]:
# Your code here - you will probably need more than one cell
my_columns = ['meal','country','adults']
DF_raw_hotels[my_columns]

DF_raw_hotels[my_columns].sort_values('country', ascending=False)

DF_country_sorted = DF_raw_hotels[my_columns].sort_values('country',ascending = False).copy()

mask = DF_country_sorted['meal']=='country'
DF_country_sorted[mask]

Empty DataFrame
Columns: [meal, country, adults]
Index: []

# End Of Homework

### Everything below here is extra - just so you have a copy of the code I showed in lecture.

### Excluding variables - removing one column (Extra)

There are a few ways to get rid of columns. The first would be to write down ALL the columns and leave out one. Let's say we want to leave out information about the "agent" variable.

In [ ]:
# First get all of them
my_columns = list(DF_raw_hotels.keys())
# Then remove the one you don't want
my_columns.remove('agent')
# Then get the new data frame
DF_raw_hotels[my_columns]

### Fancy ways to get columns (Extra - ADVANCED)

There are fancy ways to get a list of columns that you might be interested in.

#### Starts with

You can use the command **startswith()** to check if a variable starts with a word or part of a word. Here is code to get only columns that start with the word "arrival":

In [ ]:
# Get the list of all the columns
columns_list = list(DF_raw_hotels.keys())
# Get true false values using the startswith() comand
column_mask = [column.startswith('arrival') for column in columns_list]
# Mask the column names to get just the ones you want and make a list
my_columns = list(DF_raw_hotels.keys()[column_mask])
print(my_columns)

#### Ends with

You can use the command **endswith()** to check if a variable ends with a word or part of a word. Here is code to get only columns that end with the word "type":

In [ ]:
# Get the list of all the columns
columns_list = list(DF_raw_hotels.keys())
# Get true false values using the startswith() comand
column_mask = [column.endswith('type') for column in columns_list]
# Mask the column names to get just the ones you want and make a list
my_columns = list(DF_raw_hotels.keys()[column_mask])
print(my_columns)

#### IN

You can use the Python check  **is in** to check if a variable contains a word or part of a word. Here is code to get only columns that contain the word "date":

In [ ]:
# Get the list of all the columns
columns_list = list(DF_raw_hotels.keys())
# Get true false values using the startswith() comand
column_mask = ["date" in column for column in columns_list]
# Mask the column names to get just the ones you want and make a list
my_columns = list(DF_raw_hotels.keys()[column_mask])
print(my_columns)